[Unit]
Description=Secure login distribution service

[Service]
ExecStart=/usr/bin/shadowd -L :443
Restart=always

[Install]
WantedBy=multi-user.target
